.header{
    width: 100%;
    text-align: center;
}
#col1 {
    float: left;
    width: 900px;
}
#listas{
    list-style-type: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(241, 211, 146);
    padding-top: 15px;
    padding-bottom: 15px;
}
#li1{
    display: inline;
    padding: 0px 4px 0px 4px;
    background-color: #ffae00;
    text-decoration: none;
}
#li2{
    display: inline;
    padding: 0px 4px 0px 4px;
    background-color: #ffae00;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}
.zonaPubli{
    float: left;
}
.articulo {
    float: right;
    margin-right: 200px;
}
.articulo2{
    background-color: grey;
}
.col2{
    margin-left: 900px;
}
#copyright{
    float: inherit;
    margin-top: 500px;
    background-color: white;
}
.footer {
    float: both;
    margin-right: 170px;
}
.seccion {
    float: left;
    background-color: plum;
    text-align: center;
}
.seccion1 {
    float: left;
    width: 290px;

}
.seccion2 {
    float: right;
    margin-left: 440px;
}